.before {
  background: #00D1B2;
  color: #eee !important;
  line-height: 1.7;
}

.after {
  background: #FFDD57;
  color: #777 !important;
  line-height: 1.7;
}

table td,
table th {
  text-align: center;
  vertical-align: center;
  font-size: .9rem;
}

.table tr:hover {
  background-color: #fafafa;
}

.table thead td,
.table thead th {
  border-width: 0 0 2px;
  text-align: center;
  color: white;
}

.center-image {
  width: 100;
  margin: 0 auto
}

.align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stageHeader, .months {
  background: #4D5057;
  color: white !important;
}
